html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  * {
    box-sizing: inherit;
  }
}

body.lock {
  overflow: hidden;

  @media (max-width: $largeBreakpoint) {
    touch-action: none;
    -ms-touch-action: none;
    position: relative;
    height: 100vh;
    -webkit-overflow-scrolling: touch;
  }
}

.site {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  overflow: hidden;

  &-main{
    padding-top: 80px;

    @media (min-width: $smallBreakpoint) {
      padding-top: 100px;
    }
  }

  >main {
    flex: 1 1 auto;
  }
}

h1,h2,h3,h4,h5,h6,p{
  
  .accent{
    color: $blue;
  }
}