html {
  font-family: $primaryFont;
  font-weight: 400;
  color: $black;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  font-style: normal;
}

// Header Styles
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: $headingLineHeight;
  color: $black;
  font-family: $primaryFont;
  font-weight: 700;

  &.medium{
    font-weight: 500;
  }

  a {
    font-weight: inherit;
  }
}

h1,.h1{
  font-size: 64px;

  @media (max-width: $smallBreakpoint){
    font-size: 42px;
  }
}

h2,.h2{
  font-size: 48px;

  @media (max-width: $smallBreakpoint){
    font-size: 36px;
  }
}

h3,.h3{
  font-size: 32px;

  @media (max-width: $smallBreakpoint){
    font-size: 24px;
  }
}

h4,.h4{
  font-size: 24px;

  @media (max-width: $smallBreakpoint){
    font-size: 20px;
  }
}

h5{
  font-size: 20px;

  @media (max-width: $smallBreakpoint){
    font-size: 18px;
  }
}

h6{
  font-size: 16px;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}



// Text Styles
em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

a {
  transition: all .3s ease;
}

.uppercase {
  text-transform: uppercase;
}

span.accent{
  color: $blue;
}