// Fonts
$PPNeueMontreal : "PP Neue Montreal";


// Font Sizing
$baseFontSize      : 16px;
$baseLineHeight    : normal;
$headingLineHeight : normal;

// Colors

$black : #000000;
$dark : #081516;
$green : #085151;
$greenGray : #9EB1B5;
$gray : #ECEDEE;
$white : #ffffff;
$linearGradient: linear-gradient(257deg, #085151 3.83%, #081516 99.18%);

// Spacing
$pad : 1em;

// Breakpoints
$extraSmallBreakpoint : 476px;
$smallBreakpoint : 768px;
$largeBreakpoint : 1024px;
$extraLargBreakpoint : 1600px;

